<html>
  <head>
    <title>About Page</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <%- include('navbar', { links: links }) %>
    <h1>About Us</h1>
    <p>This is the about page of our application.</p>
    <p>We are dedicated to providing the best service possible.</p>
    <%- include('footer', {links: links}) %>
  </body>
</html>
